<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type"
          content="text/html; charset=UTF-8;charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1"/>
    <title>
      BiB Sensor configuration ({{ hostname }})
    </title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='bib-ap-web.css')}}"
          media="all">
  </head>
  <body>
    <div id="page_header"
         class="page_header">
      <div id="header_title"
            class="header_title">
        {{ hostname }}
      </div>
      <div id="header_text"
            class="header_text">
        BiB Sensor Configuration
      </div>
    </div>
    <div id="page_text"
         class="page_text">
      <div id="page_text_form"
           class="page_text_form">
        <form id="page_form"
              class="page_form"
              action="/"
              method="POST">

          <div class="form_row">
            <label class="form_label">
              Hostname
            </label>
            <input class="form_input"
                   type="text"
                   name="hostname"
                   value="{{ hostname }}">
          </div>

          <div class="form_row">
            <label class="form_label">
              WiFi SSID
            </label>
            <input class="form_input"
                   type="text"
                   name="ssid"
                   autofocus>
          </div>
          <div class="form_row">
            <label class="form_label">
              WiFi Passphrase
            </label>
            <input class="form_input"
                   type="text"
                   name="passphrase"
                   autocomplete="off">
          </div>
          <div class="form_row">
            <input class="form_submit"
                   type="submit"
                   value="Update and reboot">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
